<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shorten!</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/go.css" />
        <script src="/static/jquery-1.7.2.min.js" type="application/javascript"></script> 
    </head>
    <body>
        <script type="application/javascript">
            function load_shortened() {
                $('.noun').hide();
                $('.spinner').show();
                $('#results').fadeIn();
                var url = $('#shortener').val();
                $.post('/', {'url': url}, function(data) {
                    $('#noun-field').html(data);
                    $(".spinner").hide();
                    $(".noun").show();
                });
                return false;
            }

            $(document).ready(function () {
                $('#shorten').click(load_shortened)
            });
         </script>
        <div class="container">
            <div class="hero-unit">
                <h1>go.stillinbeta.com*</h1>
                <h3>a human-readble, single-use URL shortener, made for moving long URLs between devices</h2>
                *pretend the domain name is better
            </div>
            <div class="row instructions">
                <div class="span3">
                    <h3>1. Shorten</h3>
                    Use the box below, the "API", or the Android app to shorten an unwieldy URL.</div>
                <div class="span3">
                    <h3>2. Read</h3>
                    go.stillinbeta.com will produce a concise, human-readable URL for you to use.
                    </div>
                <div class="span3"><h3>3. Type</h3>
                    Enter the URL into another device to transfer it over. No software required.</div>
                <div class="span3"><h3>4. Forget</h3>
                    URLs can only be used once, otherwise we'd run out of words!
                </div> 
            </div>
<div class="row">
                <div class="span12">
                    <form class=" form-inline" method="POST" action="{% url shorten %}">
                        <input type="text"
                                class="input-large search search-query"
                                id="shortener"
                                name="url"
                                style=""
                                placeholder="URL" />
                        <input type="submit"
                               class= "input-large btn btn-primary"
                               id="shorten"
                               value="Shorten" />
                    </form> 
                </div>
                <div class="row reveal" >
                <div class="span11 well"
                     id="results"
                    {%if not noun%}style="display:none;"{% endif %}>
                    <div class="spinner" style="display:none">
                        <img src=/static/spinner.gif>
                    </div>
                    <div class="noun"
                        {% if not noun %}style="display:none"{% endif %}>
                        <h3>http://go.stillinbeta.com</h3>
                        <h1 id="noun-field">{{noun|default:""}}</h1>
                    </div>
                </div>
             </div>

            <div class="row reveal">
                <div class="span8 well">
                    <pre class="pretty">
$ curl -X POST -d url=http://t.co/nXkdO5u9 http://go.stillinbeta.com
/bread/
$
</pre>
                </div>
                <div class="span3 well">
                    <h2 class="android"><a href="https://github.com/stillinbeta/Go.Stillinbeta.com/gosib-debug.apk/qr_code">
                            Download the Android App (beta)
                    </a></h2>
                </div>
            </div>
                        <div class="row footer">
                <div class="span12">
                    by <a href="http://twitter.com/stillinbeta">@stillinbeta</a> |
                    fork on <a href="http://github.com/stillinbeta/go.stillinbeta.com">github</a>
            </div>
    </body>
</html>
